/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Imagen de fondo */
main {
    background-image: url("../img/nots1.jpg"); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
    padding: 20px; /* Opcional, para que el contenido no esté pegado al borde */
}

/* Footer fijo al fondo */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.bg-dark-green {
    background-color: #064e3b !important; /* Verde oscuro */
    color: white; /* Texto en blanco para mejor visibilidad */
}

/* Centrar la galería en la página */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* Configuración del slider */
.swiper {
  width: 90%; /* Ocupa el 90% del ancho de la pantalla */
  max-width: 1200px;
  height: 500px; /* Altura inicial para pantallas grandes */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-del-nota {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene proporciones */
  border-radius: 10px; /* Esquinas redondeadas opcionales */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .swiper {
    height: 100vh; /* Incrementa la altura en móviles */
  }

  .foto-del-nota {

    object-fit: contain; /* Muestra toda la imagen sin recorte */
  }
}

@media (max-width: 768px) {
  .instagram-media {
      width: 100% !important;
      max-width: 100% !important;
  }
}


  .container-form {
    max-width: 500px;
  }

  .card {
    border: none;
    background-color: #f8f9fa; /* Fondo claro */
    border-radius: 8px;
  }
   h1, h2, a, p, h3 {
    font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
   }